* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    background-color: #FFE3B9;
}

header {
    height: 60px;
    background-color: #EF9000;
}

footer {
    height: 60px;
    background-color: #EF9000;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.cardapioIMG {
    width: 500px;
    height: 126px;
    background-image: url(../imgs/cardapio.png);
    background-repeat: no-repeat;
    background-size: 380px;
    position: relative;
    left: 440px;
}

.estrutura {
    background-color: #F1E3E3;
    border-radius: 31px;
    width: 800px;
    max-width: 800px;
    height: 350px;
    max-height: 350px;
    position: relative;
    left: 250px;

    display: flex;
}

.date1 {background: none;}

.date2 {
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: none;
}

.date3 {background: none;}

p{
    background: none;
}

.divMenor{
    width: 50%;
    height: 200px;
    float: left;
    background-color: #f0f0f0;
    border: 1px solid #000000;
    box-sizing: border-box;
    border: none;
    background: none;
    
    position: relative;
    top: 40px;
    font-size:larger;
}

.data{
    background: none;

    position: relative;
    bottom: 40px;
    left: 70px;
}
